NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ADMIN_ADDRESS=
NEXT_PUBLIC_MARKET_ADDRESS=
NEXT_PUBLIC_PEG_ORACLE_ADDRESS=
NEXT_PUBLIC_INVENTORY_VAULT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ORACLE_PRIVATE_KEY=
RPC_URL=http://127.0.0.1:8545
